@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

body{
  background-image: url(/assets/Deep\ Space.jpg);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* estilos del navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid gray;
    height: 80px;
    padding: 0 20px;
  }
  
  .logo img {
    width: 100px;
    height: auto;
  }
  
  .menu {
    display: flex;
    justify-content: flex-end;
  }
  
  .menu li {
    list-style: none;
    margin: 0 10px;
  }
  
  .menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .menu li a:hover {
    background-color: #fff;
    color: black;
  }

  /* fuentes de las letras  */
  h1{
    color: white;
    margin-top: 10%;
    width: 135%;
    height: auto;
    font-family: 'Instrument Serif', serif;
    font-size: 3rem;
  }

  p{
    color: white;
    font-size: 25px;
    font-family: 'Instrument Serif', serif;
    margin-top: 10%;
  }

  button{
    margin-top: 10%;
    font-family: 'Instrument Serif', serif;
    border: solid 1px white;
    background-color: rgba(212, 190, 190, 0.507);
    color: black;
    border-radius: 20px;
    width: 50%;
    

  }

  /* estilos del hero */

  article{
    width: 100%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: start;
    
  }

  section{
   

    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    
    align-items: center;
    justify-content: space-between;
  }

  .info-restaurante{
    
    padding-left: 22%;
    padding-right: 22%;
    
  }
   

.boton{

width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.boton button:hover {
  background-color: #fff;
  border: solid black;
  color: black;
}

img{
  width: 100%;
}

footer{
  color: white;
  margin: 20px;
  padding: 15px;
  font-size: 25px;
}
  
  